#header-wrapper {
	width:920px;
}

#edit-search-block-form-1 {
	_width:115px;
}

div.rounded-block {
	margin-top:0px !important;
}

fieldset {
	padding:0pt 0pt 1.4em 1.4em;
}

#banner *{
	background-image:none;
}


#legal-notice {
	display:none;
}

body.front.layout-first-main #content {
	padding:0;
}

body.layout-first-main #breadcrumb {
	padding:0;
}

body.front #sidebar-first .block h2.title {
	background:transparent url(images/arrow.png) no-repeat scroll 0 2px;
	font-family:Arial Narrow,Helvetica,Arial,sans-serif;
	font-size:1.1428em;
	font-weight:bold;
	margin:0 0 10px;
	padding:0 0 0 14px;
	text-transform:uppercase;
}


#header-wrapper {
	height:100px;
	padding:10px 20px;
}

#header-first {
	width:213px;
}

#header-middle {
	display:block;
	float:right;
	width:692px;
}

#header-middle .block-ad {
	width:600px;
	margin:auto;
}

body.layout-first-main #content {
	border-left:none;
}

/*exception for no-rounded-block*/
#header-middle .rounded-block-top-left,
	#header-middle .rounded-block-top-right,
	#header-middle .rounded-block-bottom-left,
	#header-middle .rounded-block-bottom-right{
	display:none;
}

#header-middle div.rounded-inside {
	background:none;
	border-color:none;
	border-style:none;
	border-width:0px;
	overflow:auto;
	padding:0px;
}

#header-top div.rounded-block-top-left,
#header-top div.rounded-inside,
#header-top div.rounded-outside,
	#header-top div.rounded-block-top-right,
	#header-top div.rounded-block-bottom-left,
	#header-top div.rounded-block-bottom-right{
	background:none;
	border-color:none;
	border-style:none;
	border-width:0px;
	overflow:auto;
	padding:0px;
}

#banner {
	background:none;
	border-color:none;
	border-style:none;
	border-width:0px;
	overflow:auto;
	padding:0px;
}

/*end exception for no-rounded-block*/

#content-wrapper div.block ul li a {
	color:#DFB77C;
	text-decoration:none;
}

#content-wrapper div.block ul li a:hover {
	color:#EBDCC7;
	text-decoration:underline;
}

#content-wrapper div.block ul li {
	font-family:inherit;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:disc;
	margin:0 0 0.25em 1.5em;
	padding:0;
}

/*--------forum comment border color------------------*/

.forum-post {
	border:2px solid #6D6D6D;
}

.post-info {
	border-bottom:1px solid #6D6D6D;
}

.forum-post-panel-main {
	border-left:1px solid #6D6D6D;
}

.forum-post-footer {
	border-top:1px solid #6D6D6D;
}

.forum-jump-links {
	border-right:1px solid #6D6D6D;
}

#forum table, #forum-statistics {
	border:2px solid #6D6D6D;
}

.forum-statistics-sub-header {
	background-color:#3E3E3E;
}
/*--------end forum comment border color------------------*/

.author-pane .picture img {
	padding:0px;
}

.forum-post-panel-main {
	min-height:180px;
}

/*--------user profile hack------------------*/
#user-profile .wrap-corner {
	background:none !important;
}

#user-profile .wrap-corner .t-edge, #user-profile .wrap-corner .b-edge {
	display:none;
}

#user-profile .l-edge {
	background:none;
}

#user-profile .r-edge {
	background:none;
}

#user-profile .wrap-corner .r-edge {
	padding:0px;
}

#user-profile body.not-front .block-wrapper {
	margin-bottom:0px;
}
#user-profile div.block-wrapper {
	margin:0 0 0px;
}
/*--------end user profile hack------------------*/

#block-menu-menu-accountmenu { position: absolute; top: 0px; left: 0px; font-size: 12px; font-family: "lucida grande", tahoma, verdana, arial, sans-serif; background: #292929; width: 100%; text-align: right; }
#block-menu-menu-accountmenu li.block-menu-menu-accountmenu-icon a { padding: 1px 8px 4px; }
#block-menu-menu-accountmenu li.block-menu-menu-accountmenu-icon ul a { padding: 4px 8px; }
#block-menu-menu-accountmenu li.block-menu-menu-accountmenu-icon img { vertical-align: bottom; }
#block-menu-menu-accountmenu li.block-menu-menu-accountmenu-users img { margin-top: 1px; }
#block-menu-menu-accountmenu li.block-menu-menu-accountmenu-action { float: right; }
#block-menu-menu-accountmenu li.block-menu-menu-accountmenu-action a { border-left: 1px solid #323232; border-right: none; }
body.block-menu-menu-accountmenu { margin-top: 20px !important; }

/* all lists */
#block-menu-menu-accountmenu, #block-menu-menu-accountmenu ul { padding: 0; margin: 0; list-style: none; line-height: 1.4em; z-index: 999; }
#block-menu-menu-accountmenu ul { position: static; }
#block-menu-menu-accountmenu ul a { display: block; border-right: 1px solid #323232; border-bottom: none; padding: 4px 8px; font-weight: normal; color: #eee; text-decoration: none; text-align: left; }
#block-menu-menu-accountmenu ul li.block-menu-menu-accountmenu-tab a { border-right: 1px solid #52565e; }
#block-menu-menu-accountmenu li li a { border-right: none; border-top: 1px solid #323232; }

/* all list items */
/* width needed or else Opera goes nuts */
#block-menu-menu-accountmenu li { float: right; height: 100%; margin: 0 !important; padding: 0; list-style-image: none; list-style-type: none; background-image: none; }
#block-menu-menu-accountmenu li.block-menu-menu-accountmenu-tab { padding-bottom: 1px; background: url(images/bkg_tab.png) repeat-x left bottom; }
#block-menu-menu-accountmenu li li { width: 160px; background: #202020; filter:Alpha(opacity=88); opacity: 0.88; }

/* second-level lists */
/* Note: Use left instead of display to hide publicly visible menus because display: none isn't read by screen readers */
#block-menu-menu-accountmenu li ul { position: absolute; background: none; margin: 0; width: 160px; left: -999em; display: none; line-height: 1.2em; }

/* third-and-above-level lists */
#block-menu-menu-accountmenu li li.expandable ul { margin: -20px 0 0 160px; }

#block-menu-menu-accountmenu li:hover ul ul,
#block-menu-menu-accountmenu li:hover ul ul ul,
#block-menu-menu-accountmenu li:hover ul ul ul ul,
#block-menu-menu-accountmenu li:hover ul ul ul ul ul,
#block-menu-menu-accountmenu li.iehover ul ul,
#block-menu-menu-accountmenu li.iehover ul ul ul,
#block-menu-menu-accountmenu li.iehover ul ul ul ul,
#block-menu-menu-accountmenu li.iehover ul ul ul ul ul {
  left: -999em;
  display: none;
}

/* lists nested under hovered list items */
#block-menu-menu-accountmenu li:hover ul,
#block-menu-menu-accountmenu li li:hover ul,
#block-menu-menu-accountmenu li li li:hover ul,
#block-menu-menu-accountmenu li li li li:hover ul,
#block-menu-menu-accountmenu li li li li li:hover ul,
#block-menu-menu-accountmenu li.iehover ul,
#block-menu-menu-accountmenu li li.iehover ul,
#block-menu-menu-accountmenu li li li.iehover ul,
#block-menu-menu-accountmenu li li li li.iehover ul,
#block-menu-menu-accountmenu li li li li li.iehover ul {
  left: auto;
  display: block;
}
#block-menu-menu-accountmenu li.block-menu-menu-accountmenu-action:hover ul {
  right: 0;
}

/* second-and-more-level hovering */
#block-menu-menu-accountmenu li li.expandable { background: #45454a url(images/arrow.png) no-repeat 145px 12px; }
#block-menu-menu-accountmenu li li:hover,
#block-menu-menu-accountmenu li li.iehover {
  background-color: #111;
}
#block-menu-menu-accountmenu li li:hover a,
#block-menu-menu-accountmenu li li:hover li:hover a,
#block-menu-menu-accountmenu li li:hover li:hover li:hover a {
  color: #fff;
}
#block-menu-menu-accountmenu li li.expandable:hover a,
#block-menu-menu-accountmenu li li.expandable:hover li.expandable:hover a {
  border-color: #666666; color: #eee;
}

#block-menu-menu-accountmenu li li.expandable:hover li a,
#block-menu-menu-accountmenu li li.expandable:hover li.expandable:hover li a {
  border-color: #323232;
}
#block-menu-menu-accountmenu li li:hover li a,
#block-menu-menu-accountmenu li li.iehover li a,
#block-menu-menu-accountmenu li li.iehover li.iehover li a {
  color: #eee;
}
#block-menu-menu-accountmenu li li.iehover a,
#block-menu-menu-accountmenu li li.iehover li.iehover a,
#block-menu-menu-accountmenu li li.iehover li.iehover li.iehover a {
  color: #fff; width: 90%; /* IE */
}

/* #210615: Mozilla on Mac fix */
html.js fieldset.collapsible div.fieldset-wrapper { overflow: visible; }

@media print {
  #block-menu-menu-accountmenu { display: none; }
  body.block-menu-menu-accountmenu { margin-top: 0 !important; }
}
