/**
 * Dynamic display block module template:vsd-highlight-50l-S - Cascading Style Sheet 
 * (c) Copyright Phelsa Information Technology 2010. All rights reserved.
 * Version 1.0(15-MAR-2010) 
 */ 
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.container{
/* styling*/
  background:transparent url(images/background_container.png) repeat-x scroll 0 0;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.container-inner{
/* layout other*/
/*  border:2px solid #999999;*/
/*  padding:5px;*/
  position:relative; /* to position slide pager relative to this */
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.slider{
  position:absolute;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.slider-left{
/* layout other*/
  right:0px;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.slider-right{
/* layout other*/
  left:0px;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.slider-inner{
/* layout other*/
  overflow:hidden;
  position:relative; /* to position slide relative to this */ 
  visibility:hidden;
  z-index:0; /* to prevent menu's to go under the slideshow */

}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.slide{
/* layout other*/
  display:none;
  position:absolute;
  top:0;
}

div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.slide-inner img{
/* layout other*/
  margin:0!important;
  padding:0!important;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.slide-text{
/* layout other*/
  position:absolute;
/*styling*/
  background:transparent url(images/transparent_bg.png) repeat scroll 0 0;
  color:#ffffff;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.slide-text-inner{
/* layout other*/
  padding:10px;      /* position slide text inner 10px inside slidetext */
  position:relative; /* to position readmore relative to this */
}

div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.slide-text-horizontal{
/* layout other */
  left:0px;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.slide-text-vertical{
/* layout other*/
  top:0;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.slide-text-top{
/* layout other*/ 
  top:0px;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.slide-text-right{
/* layout other*/
  right:35px;
}  
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.slide-text-bottom{
/* layout other*/
  bottom:0px;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.slide-text-left{
/*layout other*/
  left:35px;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.slide-title{
/* layout other*/
  float:left;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.slide-title-vertical{
/*layout other*/
  width:180px;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.slide-title-horizontal{
/* layout other*/
  float:left;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.slide-title h2{
/* layout other*/
  margin:-5px 0 0 0;padding:0;
/*styling*/
  color:#fff;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.slide-title-inner{
/*styling*/
  font-weight:bold;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.slide-body-horizontal{
/* layout other*/
  float:left;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.slide-body-inner{
/*styling*/
  color:#fff;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.slide-body-inner p{
/* layout other*/
  margin:0 8px 0 0;padding:0;
}


/* readmore button */
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.slide-read-more{
  /*layout other*/ 
  background:transparent url(images/readmorebutton.png) no-repeat scroll 0 0;     /* normal state of sprite button */
  bottom:10px;                            /* To place button 10px from the bottom*/
  position:absolute;                      /* position button absolute with the slidetext-inner */
  right:10px;                             /* To place button 10px form te right*/
  width:110px;                            /* with of the button image */
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.slide-read-more:hover{
  /*styling*/ 
  background:transparent url(images/readmorebutton.png) no-repeat scroll 0 -30px; /* hover state of sprite button */
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.slide-read-more a {
  /*layout other*/ 
  display:block;
  height:30px;                             /* height of the button */
  margin:0 auto;                           /* to place text centered */
  padding-left:0px;                       /* to adjust text from center when needed for button with decoration*/
  /*styling*/ 
  color:#ffffff;
  font-size:12px;
  font-family:Arial,Helvetica,sans-serif;
  font-weight:bold;
  line-height:30px;                        /* to place text verticaly centered - same height as the button */  
  text-align:center;                       /* to place text horizontaly centered */
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.slide-read-more a:hover{
  /*styling*/ 
  color:#000;
  text-decoration:none;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.slide-read-more a:focus{
  /*styling*/ 
  outline:none;
}


/*custom pager */
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.custom-pager{
/*layout other*/
  display:block;margin:0;padding:0;position:absolute;visibility:visible;z-index:100;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.custom-pager-left{
/*layout other*/
  left:0px;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.custom-pager-right{
/*layout other*/
  left:446px;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.custom-pager div.custom-pager-item-inner{
/*layout other*/
  position:relative;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.custom-pager div.custom-pager-item img{
/*layout other*/
  border:1px solid #ffffff;float:left;height:38px;margin:15px 4px 0 8px;padding:0!important;
  vertical-align:middle;width:80px;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.custom-pager div.custom-pager-item a{
/*layout other*/
  display:block;height:68px;line-height:14px;width:205px;
/*styling*/
  background:transparent url(images/pager_item_normal.png) repeat-x scroll 0 0;color:#ffffff;font-family:verdana,arial,sans-serif;font-size:12px;font-weight:bold;opacity:1;text-decoration:none;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.custom-pager-left div.custom-pager-item a{
/*layout other*/
  margin:0;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.custom-pager-right div.custom-pager-item a{
/*layout other*/
  margin-left:35px;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.custom-pager div.custom-pager-item a:hover{
/*styling*/
  background:transparent url(images/pager_item_hover.png) repeat-x scroll 0 0;color:#fff;opacity:1;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.custom-pager div.custom-pager-item a:focus{
/*styling*/
  outline:none;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.custom-pager div.custom-pager-item a:active{
/*styling*/
  outline:none;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.custom-pager div.active-pager-item{
/*layout other*/
  height:68px;position:relative;width:190px;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.custom-pager-right div.active-pager-item a{
/*layout other*/
  width:240px;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.custom-pager-left div.active-pager-item a{
/*layout other*/
  width:240px;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.custom-pager-left div.active-pager-item a{
/*styling*/
  background:transparent url(images/pager_item_left.png) no-repeat scroll 0 0;color:#fff;opacity:1;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.custom-pager-right div.active-pager-item a{
/*layout other*/
  display:block;height:68px;line-height:14px;width:205px;
/*styling*/
  background:transparent url(images/pager_item_normal.png) repeat-x scroll 0 0;color:#ffffff;font-family:verdana,arial,sans-serif;font-size:12px;font-weight:bold;opacity:1;text-decoration:none;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.custom-pager-left div.active-pager-item a:hover{
/*styling*/
  background:transparent url(images/pager_item_left.png) no-repeat scroll 0 0;border:none!important;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.custom-pager-right div.active-pager-item a:hover{
/*styling*/
  background:transparent url(images/pager_item_hover.png) repeat-x scroll 0 0;color:#fff;opacity:1;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.custom-pager-left div.active-pager-item img{
/*layout other*/
  margin-left:15px;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.custom-pager-right div.active-pager-item img{
/*layout other*/
  margin-left:10px;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.custom-pager-item-text{
/*layout other*/
  padding:15px 0 0 10px;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.custom-pager-left div.active-pager-item div.custom-pager-item-text{
/*layout other*/
  margin-left:15px;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.custom-pager-right div.active-pager-item div.custom-pager-item-text{
/*layout other*/
  margin-left:35px;
}

/*previous next pager */
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.prev-next-pager{
  position:absolute;
  left:5px;
  bottom:5px;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.prev-next-pager-inner{
  /*Layout*/
  height:17px;      
  position:relative;         /* to position prev, count and next absolute in this div */

  /*decoreation*/
  background:#DDDDDD;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.prev-next-pager a{
  /*Layout*/
  position:absolute;

  /*decoreation*/
  color:#000000;
  font-family:Tahoma,Arial,sans-serif;
  font-size:.8em; 
  font-weight:bold;
  line-height:17px;
  outline-style:none;
  text-decoration:none !important;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.prev-next-pager a:hover{
  color:#000000!important;
}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.prev-next-pager a:focus{
  color:#000000!important;
}

/*previous next pager on the slide*/
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.views-slideshow-ddblock-prev-next-slide {position: absolute;top:110px;z-index:50;}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.views-slideshow-ddblock-prev-next-slide-left {right:7px;}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.views-slideshow-ddblock-prev-next-slide-right {left:0;}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.views-slideshow-ddblock-prev-next-slide a {color:#fff;display:block;height:50px;margin:0;padding:0;width:50px;}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.views-slideshow-ddblock-prev-next-slide a:focus{outline:none;}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.next-container{float: right;height: 50px;opacity: 0.7;position: relative;width: 50px;}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.prev-container{float: left;height: 50px;opacity: 0.7;position: relative;width: 50px;}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.views-slideshow-ddblock-prev-next-slide a.next{background: url(../images/next.png) no-repeat;margin-right:10px;}
div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.views-slideshow-ddblock-prev-next-slide a.prev{background: url(../images/prev.png) no-repeat;margin-left:10px;}



div.views-slideshow-ddblock-cycle-vsd-highlight-50l-S div.spacer-horizontal{
/*layout other*/
clear:both;height:2px;
}