#content-top .block-ad {
	display:none;
}

#header-banner .block-ad {
	float:right;
	position:relative;
	right:20px;
	top:30px;
}

.view-content-Event-H table thead th,

.view-content-Event-H table tbody td {

 text-align:center;
 vertical-align: middle;
 }
 

.tips, .tips + p a {  display:none;}

.node-form ul.tips { display:none;}


#content, #mimemail-body {
  background-color: white;
}

/*hack for Events*/

.view-content-Event-Main table thead th,

.view-content-Event-Main table tbody td {

   text-align:center;
    vertical-align: middle;

}

.view-content-VIP-Main table thead th,

.view-content-VIP-Main table tbody td {

   text-align:center;
    vertical-align: middle;

}

.view-content-Promotion-Home table thead th,

.view-content-Promotion-Home table tbody td {

   text-align:center;
    vertical-align: middle;

}

.view-content-Promotion-Main table thead th,

.view-content-Promotion-Main table tbody td {

   text-align:center;
    vertical-align: middle;

}

.view-content-Events-In-Zhuhai table thead th,

.view-content-Events-In-Zhuhai table tbody td {

   text-align:center;
    vertical-align: middle;



}

.btn-links .buttons,
.btn-links .buttons li,
.btn-links .buttons li a.button
 {
	width:122px;
}